.container{

    width:1200px;
    margin: 0 auto;
}

.catImg{

    width:1200px;
    height:250px;
}

.navLeft{

    display: inline-block;
    font-size: 20px;
    width:300px;
    vertical-align: top;
    color:#000000;
    height: 500px;
}


.navLeft p{

    margin-bottom: 20px;
    padding-left: 10px;
    padding-top: 10px;
    font-weight: 700;
}

.navLeft li{

    height:50px;
    line-height: 50px;
    text-align: left;
    margin-left: 10px;
    border-bottom: 1px solid #000;
}

.navLeft li:hover{

    cursor: pointer;
}
.prodRight{

    display: inline-block;

    width:840px;
    vertical-align: top;
    margin-left: 50px;
}

.prodcon{

    width:30%;
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
    margin-bottom: 10px;
}

.prodcon p{

    text-align: center;
}

.prodRight .prodcon:last-child{

    margin-right: 0px;
}

.imgcon{

    width:100%;
    height:250px;
}

.nameCl:hover{
    cursor: pointer;

}