#pagination{
    height:24px;
    background: #FFFFFF;
    color: #333333;
    font-size: 12px;
    display: inline-block;
}


#pagination .common{

    display: inline-block;
    height:22px;
    line-height: 22px;
    border-top: 1px solid #C8C8C8;
    border-left: 1px solid #C8C8C8;
    border-bottom: 1px solid #C8C8C8;
    width:24px;
    text-align: center;
}

#pagination .common:hover{

    cursor: pointer;
}

#prevPage{

    border-top: 1px solid #C8C8C8;
    border-left: 1px solid #C8C8C8;
    border-bottom: 1px solid #C8C8C8;
    display: inline-block;
    height:22px;
    line-height: 22px;
    width:64px;
    text-align: center;
}

#prevPage:hover{
    cursor: pointer;
}

#nextPage{

    border: 1px solid #C8C8C8;
    display: inline-block;
    height:22px;
    line-height: 22px;
    width:65px;
    text-align: center;
}

#nextPage:hover{
    cursor: pointer;
}

#allpage{

    size: 12px;
    margin-left:9px;
    margin-right: 12px;
}

#numpage{

    height:22px;
    line-height: 22px;
    border: 1px solid #C8C8C8;
    width:38px;
    text-align: center;
}

